<%= form_for(@pessoa) do |f| %>
  <% if @pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

      <ul>
      <% @pessoa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :data_nascimento %><br>
    <%= f.date_select :data_nascimento %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :alfabetizado %><br>
    <%= f.text_field :alfabetizado %>
  </div>
  <div class="field">
    <%= f.label :frequenta_escola %><br>
    <%= f.text_field :frequenta_escola %>
  </div>
  <div class="field">
    <%= f.label :ocupacao %><br>
    <%= f.select :ocupacao_id, @ocupacaos.collect { |a| [a.nome, a.id]} %>
  </div>
  <div class="field">
    <%= f.label :doencas %><br>
    <%= f.text_field :doencas %>
  </div>
  <div class="field">
    <%= f.label :nome_plano_de_saude %><br>
    <%= f.text_field :nome_plano_de_saude %>
  </div>
  <div class="field">
    <%= f.label :meio_comunicacao %><br>
    <%= f.text_field :meio_comunicacao %>
  </div>
  <div class="field">
    <%= f.label :cooperativa %><br>
    <%= f.text_field :cooperativa %>
  </div>
  <div class="field">
    <%= f.label :religiao %><br>
    <%= f.text_field :religiao %>
  </div>
  <div class="field">
    <%= f.label :transporte %><br>
    <%= f.text_field :transporte %>
  </div>
  <div class="field">
    <%= f.label :ficha %><br>
    <%= f.select :ficha_id, @fichas.collect { |a| [a.ficha, a.id]} %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar", :class => 'btn btn-primary' %>
  </div>
  <% end %>
